<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="0.23.1" targetFramework="net40" />
  <package id="Coypu.Watin" version="0.15.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="Selenium.Support" version="2.37.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.37.0" targetFramework="net40" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="WatiN" version="2.1.0" targetFramework="net40" />
</packages>